@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --font-pixel: 'Silkscreen', cursive;
    --color-primary: #012E40;
    --color-secondary: #035557;
    --color-succes: #032957;
    --color-terciary: #024D39;
}