@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --font-pixel: 'Silkscreen', cursive;
    --color-primary:#024873 ;
    --color-secondary:#012E40;
    --color-succes: #035557;
    --color-terciary: #024D39;
}