// MyComponent.scss
@import "../../../styles/variables";
@import "../../../styles/bootstrap";
@import "../../../styles/mixsin.scss";

.btn-custom {
  // Agregar estilos personalizados para el botón
    @include button-size($padding-y: 1%, $padding-x: 1%, $font-size: 2em,$border-radius: 1em);  
    @include button-variant($background:#012E40,$border: #012E40 );
    margin: 2%;
    width: 20%;
    height: 80%;
}

// .btn-primary{
//   @include shadows($width:10px, $height:-10px,$color:var(--color-secondary));  
//   :hover{
//     @include shadows($width:5px, $height:-5px,$color:var(--color-secondary));    
//     transform: translateY(2px);
//   }
//}

button:hover{
  @include shadows($width:5px, $height:-5px,$color:var(--color-secondary));
}


.add-shadow{
  @include shadows($width:10px, $height:-10px,$color:var(--color-secondary));
}

.add-shadow2{
  @include shadows($width:10px, $height:-10px,$color:var(--color-terciary) );
}
